<div id="<%= dom_id business %>">
  <p>
    <strong>Name:</strong>
    <%= business.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= business.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= business.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= business.phone %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= business.website %>
  </p>

</div>
