<div id="<%= dom_id photo %>">
  <p>
    <strong>Image url:</strong>
    <%= photo.image_url %>
  </p>

  <p>
    <strong>Caption:</strong>
    <%= photo.caption %>
  </p>

  <p>
    <strong>User:</strong>
    <%= photo.user_id %>
  </p>

  <p>
    <strong>Business:</strong>
    <%= photo.business_id %>
  </p>

</div>
